block javascripts
	script(src="http://code.jquery.com/jquery-2.1.4.min.js")
	//- script(src="vendor/jquery/dist/jquery.min.js")
	//- https://code.angularjs.org/1.4.6/   //jf <--- look here
	script(src="/vendor/toastr/toastr.js")
	script(src="/vendor/angular/angular.min.js")
	//- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js")
	script(src="/vendor/angular-resource/angular-resource.min.js")
	//- script(src="https://code.angularjs.org/1.4.6/angular-resource.js")
	script(src="/vendor/angular-route/angular-route.min.js")
	//- script(src="https://code.angularjs.org/1.4.6/angular-route.js")
	script(src="/app/app.js")
	script(src="/app/main/MainCtrl.js")
	script(src="/app/auth/NavbarAuthCtrl.js")
	script(src="/app/auth/IdentityCtrl.js")
	script(src="/app/auth/AuthCtrl.js")
	script(src="/app/common/NotifierCtrl.js")
	