//- main.jade

.container
	.jumbotron
		h1 main.jade
		//- h1{{ myVar }}
		//- h1=menu.mainJumbotron
		h1 Client Cooperation
		//- p=menu.mainJumbotronMessage
		p lorem ip Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	.row
		.col-md-6
			div(ng-include="'/partials/main/featured'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")